<ui:composition template="template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">
    <ui:define name="Title">
        #{msg['AstonAdmin.title']}
    </ui:define>
    <ui:define name="SideBar">
        <ui:fragment rendered="#{empty loginAstonBean.currentUserPersonne}"/>
        <ui:fragment rendered="#{!empty loginAstonBean.currentUserPersonne}">
            <li><h:outputLabel value="#{msg['AstonAdmin.listChoice']}"/></li>
            <li>
                <h:form>
                    <h:selectOneRadio class="radio" value="#{listManager.typeAffiché}" layout="pageDirection" onclick="this.form.submit();">
                        <f:selectItem itemValue="Admin" itemLabel="#{msg['AstonAdmin.listAdmin']}"/>
                        <f:selectItem itemValue="Enseignant" itemLabel="#{msg['AstonAdmin.listProf']}"/>
                        <f:selectItem itemValue="Etudiant" itemLabel="#{msg['AstonAdmin.listEtu']}"/>
                    </h:selectOneRadio>
                </h:form>
            </li>
            <li><h:form><h:commandLink class="" action="Creation"><h:outputText id="AddPerson" value="#{msg['AstonAdmin.addPerson']}"/></h:commandLink></h:form></li>
            <li><h:form><h:commandLink class=""><h:outputText id="AddCourse" value="#{msg['AstonAdmin.addCourse']}"/></h:commandLink></h:form></li>
        </ui:fragment>
    </ui:define>
    <ui:define name="Body">
        <h4>
            <h:outputText id="welcomePageTitle" value="#{msg['AstonAdmin.welcome']}"/>
        </h4>
        <ui:fragment rendered="#{empty loginAstonBean.currentUserPersonne}">
            <h:form><h:commandLink action="Accueil" value="#{msg['AstonAdmin.notLogged']}"/></h:form>
        </ui:fragment>
        <ui:fragment rendered="#{!empty loginAstonBean.currentUserPersonne}">
            <div class="span4">
                <h:form>
                    <h:dataTable  class="table table-striped table-condensed" value="#{listManager.tableUsers}" var="compteur" >
                        <h:column>
                            <f:facet name="header"><h:outputText value="#{msg['AstonLoginTable.name']}"/></f:facet> 
                            <h:outputText value="#{compteur.nom}" />
                        </h:column>
                        <h:column> 
                            <f:facet name="header"><h:outputText value="#{msg['AstonLoginTable.firstName']}"/></f:facet> 
                            <h:outputText value="#{compteur.prenom}"/> 
                        </h:column> 
                        <h:column> 
                            <f:facet name="header"><h:outputText value="#{msg['AstonLoginTable.city']}"/></f:facet> 
                            <h:outputText value="#{compteur.adresse.ville}"/> 
                        </h:column>                     
                        <h:column>
                            <h:commandLink value="Détails" actionListener="#{listManager.selectPerson}" /> 
                        </h:column>
                    </h:dataTable>
                </h:form>
            </div>
            <div class="span6">
                <h:panelGroup rendered="#{!empty listManager.selectedPerson}">
                    <h2>#{msg['AstonAdmin.selectedPersonne']}</h2>

                    <h:outputLabel value="#{msg['AstonAdmin.name']} : ">#{listManager.selectedPerson.nom}</h:outputLabel>
                    <h:outputLabel value="#{msg['AstonAdmin.firstName']} : ">#{listManager.selectedPerson.prenom}</h:outputLabel>
                    <h:panelGroup rendered="#{listManager.selectedPerson['class'].simpleName == 'Admin'}">
                        <h:outputLabel value="#{msg['AstonAdmin.adminId']} : ">#{listManager.selectedPerson.idAdmin}</h:outputLabel>
                    </h:panelGroup>
                    <h:panelGroup rendered="#{listManager.selectedPerson['class'].simpleName == 'Enseignant'}">
                        <h:outputLabel value="#{msg['AstonAdmin.teacherId']} : ">#{listManager.selectedPerson.idEnseignant}</h:outputLabel>
                    </h:panelGroup>
                    <ui:fragment rendered="#{listManager.modifyFlag}">
                        <p>#{msg['AstonAdmin.ModifySelectedPersonne']} :</p>
                        <h:form id="modifyForm">
                            <h:outputLabel id="email" value="#{msg['id.email']}" />
                            <h:inputText id="emailInputText" 
                                         value="#{listManager.selectedPerson.email}"
                                         required="true"
                                         requiredMessage="#{msg['RequiredField']}"
                                         validatorMessage="#{msg['NotAValidEmail']}">
                                <f:validator validatorId="validateEMail"/>
                            </h:inputText>
                            <h:message for="modifyForm:emailInputText" errorClass="text-error" />
                            <title>Adresse</title>
                            <h:outputLabel id="numero" value="#{msg['adresse.numéro']}" />
                            <h:inputText id="numeroInputText" 
                                         value="#{listManager.selectedPerson.adresse.idAdresse}"
                                         required="true"
                                         requiredMessage="#{msg['RequiredField']}"
                                         validatorMessage="#{msg['enterMinMaxNumber']}"
                                         converterMessage="#{msg['enterANumber']}">
                                <f:validateLongRange  minimum="1" maximum="99999"/>
                            </h:inputText>
                            <h:message for="modifyForm:numeroInputText" errorClass="text-error" />
                            <h:outputLabel id="rue" value="#{msg['adresse.rue']}" />
                            <h:inputText id="rueInputText" 
                                         value="#{listManager.selectedPerson.adresse.rue}"
                                         required="true"
                                         requiredMessage="#{msg['RequiredField']}"
                                         />
                            <h:message for="modifyForm:rueInputText" errorClass="text-error" />
                            <h:outputLabel id="codepostal" value="#{msg['adresse.codepostal']}" />
                            <h:inputText id="codepostalInputText" 
                                         value="#{listManager.selectedPerson.adresse.codePostale}"
                                         required="true"
                                         requiredMessage="#{msg['RequiredField']}"
                                         validatorMessage="#{msg['enterMinMaxNumber']}">
                                <f:validateLongRange  minimum="1" maximum="99999"/>
                            </h:inputText>
                            <h:message for="modifyForm:codepostalInputText" errorClass="text-error" />
                            <h:outputLabel id="ville" value="#{msg['adresse.ville']}" />
                            <h:inputText id="villeInputText" 
                                         value="#{listManager.selectedPerson.adresse.ville}"
                                         required="true"
                                         requiredMessage="#{msg['RequiredField']}"
                                         />
                            <h:message for="modifyForm:villeInputText" errorClass="text-error" />
                            <br/>
                            <h:commandButton id="SubmitButton" class="btn" value="#{msg['AstonAdmin.SaveMods']}" action="#{listManager.commitMods()}"/> 
                        </h:form>
                    </ui:fragment>
                    <h:form class="btn-group">
                        <h:commandButton class="btn" id="ModifyButton" value="#{msg['AstonAdmin.modifyB']}" action="#{listManager.modifyUser()}"/>
                        <h:commandButton class="btn" id="DeleteButton" value="#{msg['AstonAdmin.deleteB']}" action="#{listManager.deleteUser()}"/>
                    </h:form>
                </h:panelGroup>               

            </div>
        </ui:fragment>
    </ui:define>
</ui:composition>