<ui:composition template="template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">
    <ui:define name="Title">#{msg['AstonConsult.comingSoon']}</ui:define>
    <ui:define name="SideBar"/>
    <ui:define name="Body"> 
        <h1>
            <h:outputText value="#{msg['AstonConsult.comingSoon']}"/>
        </h1>
    </ui:define>

</ui:composition>