<ui:composition template="template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">
    <ui:define name="Title">
        #{msg['AstonCreate.title']}
    </ui:define>
    <ui:define name="SideBar">
        <li><h:form><h:commandLink class="" action="Administration"><h:outputText id="ReturnLink" value="#{msg['AstonCreate.return']}"/></h:commandLink></h:form></li>

    </ui:define>
    <ui:define name="Body">
        <h1>
            <h:outputText id="welcomePageTitle" value="#{msg['create.information']}"/>
        </h1>  
        <h:form id="CreationForm" class="btn-group">
            <h:selectOneMenu id="typeInputRadio" value="#{creationPersonneBean.type}"
                             required="true"
                             requiredMessage="#{msg['RequiredField']}">
                <f:selectItem itemValue="#{null}" itemLabel="---- select one---" />
                <f:selectItem itemValue="Admin" itemLabel="Administrateur" />
                <f:selectItem itemValue="Etudiant" itemLabel="Etudiant" />
                <f:selectItem itemValue="Enseignant" itemLabel="Enseignant" />
            </h:selectOneMenu>
            <h:message for="CreationForm:typeInputRadio" errorClass="text-error" /> 

            <h:outputLabel id="prenom" value="#{msg['name.first']}" />
            <h:inputText id="prenomInputText" 
                         value="#{creationPersonneBean.unePersonnePrenom}"
                         required="true" 
                         requiredMessage="#{msg['RequiredField']}" />
            <h:message for="CreationForm:prenomInputText" errorClass="text-error" /> 

            <h:outputLabel id="nom" value="#{msg['name.last']}" />
            <h:inputText id="nomInputText" 
                         value="#{creationPersonneBean.unePersonneNom}"
                         required="true"
                         requiredMessage="#{msg['RequiredField']}" />
            <h:message for="CreationForm:nomInputText" errorClass="text-error" /> 

            <h:outputLabel id="email" value="#{msg['id.email']}" />
            <h:inputText id="emailInputText" 
                         value="#{creationPersonneBean.email}"
                         required="true"
                         requiredMessage="#{msg['RequiredField']}"
                         validatorMessage="#{msg['NotAValidEmail']}">
                <f:validator validatorId="validateEMail" />
            </h:inputText>         
            <h:message for="CreationForm:emailInputText" errorClass="text-error" /> 

            <h:outputLabel id="Adresse" value="#{msg['adresse.adresse']}" />
            <h:outputLabel id="numero" value="#{msg['adresse.numéro']}" />
            <h:inputText id="numeroInputText" 
                         value="#{creationPersonneBean.numéro}"
                         required="true"
                         requiredMessage="#{msg['RequiredField']}" 
                         validatorMessage="#{msg['enterMinMaxNumber']}"
                         converterMessage="#{msg['enterANumber']}">
                <f:validateLongRange minimum="1" maximum="99999" />
            </h:inputText>
            <h:message for="CreationForm:numeroInputText" errorClass="text-error" /> 
            <h:outputLabel id="rue" value="#{msg['adresse.rue']}" />
            <h:inputText id="rueInputText" 
                         value="#{creationPersonneBean.rue}"
                         required="true"
                         requiredMessage="#{msg['RequiredField']}"  
                         />
            <h:message for="CreationForm:rueInputText" errorClass="text-error" /> 
            <h:outputLabel id="codepostal" value="#{msg['adresse.codepostal']}" />
            <h:inputText id="codepostalInputText" 
                         value="#{creationPersonneBean.codepostal}"
                         required="true"
                         requiredMessage="#{msg['RequiredField']}" 
                         validatorMessage="#{msg['enterMinMaxNumber']}">
                <f:validateLongRange minimum="1" maximum="99999" />
            </h:inputText>
            <h:message for="CreationForm:codepostalInputText" errorClass="text-error" /> 
            <h:outputLabel id="ville" value="#{msg['adresse.ville']}" />
            <h:inputText id="villeInputText" 
                         value="#{creationPersonneBean.ville}"
                         required="true"
                         requiredMessage="#{msg['RequiredField']}"
                         />
            <h:message for="CreationForm:villeInputText" errorClass="text-error" /> 
            <h:outputLabel id="login" value="#{msg['id.login']}" />
            <h:inputText id="loginInputText" 
                         value="#{creationPersonneBean.login}"
                         required="true"
                         requiredMessage="#{msg['RequiredField']}"
                         validatorMessage="#{msg['Login.minmax']}">
                <f:validateLength minimum="8" maximum="16" />
            </h:inputText>
            <h:message for="CreationForm:loginInputText" errorClass="text-error" />
            <h:outputLabel id="motdespasse" value="#{msg['id.motdespasse']}" />
            <h:inputSecret id="motdespasseInputText" 
                           value="#{creationPersonneBean.motdespasse}"
                           required="true"
                           requiredMessage="#{msg['RequiredField']}"
                           validatorMessage="#{msg['motdepasse.minmax']}">
                <f:validateLength minimum="8" maximum="16" />
            </h:inputSecret>
            <h:message for="CreationForm:motdespasseInputText" errorClass="text-error" /> 
            <br/>
            <h:commandButton id="SubmitButton"
                             class="btn"
                             value="#{msg['creation.Submit']}" 
                             action="#{creationPersonneBean.ajouter}"/> 
            <h:commandButton id="ResetButton"
                             class="btn"
                             type="reset" 
                             value="Reset" 
                             action="#{creationPersonneBean.reset}"/>    

        </h:form>
    </ui:define>
</ui:composition>



