<ui:composition template="template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">




    <ui:define name="Title">
        #{msg['Astonindex.title']}
    </ui:define>
    <ui:define name="SideBar">
        <li><h:form><h:commandLink class="" action="Connexion"><h:outputText id="LienConnexion" value="#{msg['Astonindex.toLogin']}"/></h:commandLink></h:form></li>
        <li><h:form><h:commandLink class="" action="Consultation"><h:outputText id="LienConsultation" value="#{msg['Astonindex.toConsult']}"/></h:commandLink></h:form></li>
    </ui:define>
    <ui:define name="Body">
        <h1>
            <h:outputText id="welcomePageTitle" value="#{msg['Astonindex.welcome']}"/>
        </h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed congue consectetur erat, molestie lobortis enim vulputate pulvinar. Nullam commodo fringilla magna, id viverra lectus facilisis eu. Donec vitae justo dui, id varius nisi. Mauris mattis venenatis elit ut varius. Nunc sed neque at felis facilisis porttitor at ac est. Vivamus mattis molestie lacinia. Nam consectetur metus euismod elit laoreet tincidunt. Sed euismod scelerisque pretium.
        </p>
        <p>
            Nullam sit amet iaculis erat. Duis eget faucibus lectus. Duis facilisis condimentum ligula, et hendrerit tellus accumsan ac. Nulla scelerisque orci nec est volutpat feugiat nec vel velit. Ut eget augue eget lorem eleifend fringilla. Nulla facilisi. Sed laoreet porttitor lorem id pretium. Donec elementum elit at enim dapibus eleifend. Suspendisse blandit pretium lorem eget aliquet. Maecenas iaculis vestibulum ipsum, vitae sagittis enim luctus in. Etiam vehicula aliquam arcu, non cursus odio pretium tincidunt. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse rutrum sem in sem facilisis non elementum justo congue. Nulla facilisi. Phasellus volutpat ultrices arcu ac elementum. Mauris quis sapien velit.
        </p>
        <p>
            Mauris varius consectetur lorem id rutrum. Integer sit amet vestibulum massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Proin molestie blandit commodo. Phasellus placerat, justo quis blandit interdum, magna eros ullamcorper nisi, sit amet cursus ante ipsum non sem. Quisque neque magna, consequat eu rutrum sit amet, mattis vitae sem. Suspendisse a aliquet tellus.
        </p>
        <p>
            Phasellus malesuada, justo sit amet euismod facilisis, orci dolor egestas velit, sit amet adipiscing mauris neque mollis purus. Etiam in libero ipsum. Fusce porttitor nunc non quam scelerisque accumsan. Nulla molestie cursus tortor, et scelerisque purus condimentum vitae. Sed aliquet condimentum justo facilisis molestie. In placerat velit a massa ultrices molestie. Vivamus vel ornare odio. Nunc sapien tortor, feugiat in mattis et, luctus ullamcorper lorem. Morbi mollis, nunc eget lacinia faucibus, turpis massa eleifend ipsum, ac tempor lectus velit id leo. Nulla facilisi. Etiam congue dui id velit scelerisque in lobortis arcu semper. Fusce pretium condimentum ante, sit amet ultricies elit pharetra fermentum.
        </p>
        <p>
            Ut ac felis urna, ut dignissim risus. Mauris iaculis pellentesque malesuada. Aliquam nec metus a dui porta lobortis. Sed nec lectus urna, lobortis posuere quam. Cras erat libero, accumsan nec vulputate id, mollis dapibus est. Vestibulum sed purus quis nulla congue scelerisque eu at erat. Vivamus volutpat interdum urna, eu ullamcorper leo hendrerit in. Cras lacinia, arcu in vulputate tristique, sem est laoreet odio, tincidunt lacinia lectus eros a felis.
        </p>
        <p>
            Phasellus interdum, est fringilla imperdiet ultrices, lacus purus sollicitudin elit, eu vulputate nulla sem ultricies lacus. Nunc sodales egestas mi, eget dictum metus euismod id. Aenean iaculis molestie enim, et aliquet nisi aliquet eu. Nunc dui nunc, fringilla a convallis dapibus, pharetra quis massa. Aliquam aliquet diam non erat auctor ullamcorper. Cras nec libero mi. Ut ornare lectus at turpis dapibus quis commodo nisl congue. Fusce ante elit, interdum nec rhoncus sit amet, feugiat vitae dolor. Proin rhoncus, est at eleifend volutpat, sapien lacus tempus neque, non sodales ipsum nunc id urna. Ut tristique nulla eget diam varius rhoncus eget ac purus. Proin nisi risus, bibendum nec sollicitudin sit amet, molestie vel risus.
        </p>
        <p>
            Nam vehicula viverra sem, at facilisis neque tempor nec. Sed tempor tincidunt ipsum sed cursus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sit amet nunc ac nibh aliquam consectetur vel ac elit. Phasellus sit amet quam libero, vel lacinia risus. Nunc accumsan porta vestibulum. Aliquam erat volutpat. Suspendisse a risus vel diam lobortis ullamcorper non gravida ante. Nunc mi est, porttitor ac dictum quis, ultricies ut turpis. Sed nec arcu quis nunc mattis iaculis quis at tellus. Nulla elementum mattis pellentesque. Duis laoreet, nulla id sollicitudin tincidunt, leo est iaculis sem, eu interdum diam justo non sem. Sed a tellus ipsum.
        </p>
        <p>
            Duis vestibulum felis eget diam blandit accumsan eu vel orci. Fusce pharetra suscipit odio eget tincidunt. Morbi condimentum sagittis ultrices. Vestibulum tempor tortor vel diam ornare pulvinar. Sed odio risus, dignissim quis hendrerit ac, pellentesque vel risus. Nulla dictum feugiat accumsan. Donec vel est eros, non malesuada urna. Suspendisse lacinia sapien nec sapien tincidunt ut porta ipsum iaculis. Mauris faucibus magna sed magna imperdiet a lobortis nisi congue.
        </p>
        <p>
            Cras id vulputate elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ipsum massa, lacinia quis aliquam in, sollicitudin ut diam. Vivamus risus sapien, accumsan vitae placerat sit amet, ultrices eu nibh. In hac habitasse platea dictumst. Nullam tincidunt, mauris ut gravida dictum, urna magna pharetra mi, sed porttitor sapien erat ut urna. Vivamus posuere consequat est, et cursus arcu vestibulum a. Suspendisse fermentum arcu in purus hendrerit dignissim. Aliquam interdum, nisi at molestie interdum, mauris odio sagittis dolor, euismod volutpat massa mi eget magna. Pellentesque id purus tellus, quis facilisis purus. Praesent condimentum nulla at nisl egestas rhoncus ut in metus. Nam lacus justo, porta eget ullamcorper quis, pretium a felis. Nam ac purus vitae sem tincidunt placerat sit amet quis leo. Fusce malesuada porttitor vehicula. Phasellus ut sem ac nulla lobortis lobortis.
        </p>
        <p>
            Ut diam velit, eleifend in interdum a, tempus sit amet nunc. Morbi aliquet elementum urna quis euismod. Maecenas ullamcorper nibh vitae justo rutrum laoreet. Proin ultrices rutrum purus a suscipit. Phasellus vel viverra mi. Duis nec tellus nulla, ac suscipit tellus. Proin sed nulla urna, a volutpat nulla.
        </p>
        <p>
            Sed gravida venenatis dui, in tincidunt erat viverra nec. Suspendisse potenti. Proin vel cursus quam. Fusce consectetur cursus neque, id ultrices turpis semper id. Pellentesque in aliquam tortor. In feugiat fringilla ultricies. Praesent tincidunt eleifend lorem et tristique. Curabitur dolor nunc, tempor sed accumsan quis, gravida at velit. Pellentesque eget mi diam, eu dignissim leo. Nunc non mi eu lacus iaculis ultrices. Sed lacinia, quam et faucibus consequat, risus nibh bibendum sem, eget pretium augue orci quis neque.
        </p>
        <p>
            Ut feugiat libero sit amet felis bibendum vitae varius mi hendrerit. Pellentesque laoreet arcu quis lectus viverra a convallis leo pretium. Nunc mollis dolor nec purus lacinia adipiscing. In vitae enim ut leo convallis iaculis vel et mauris. Curabitur sit amet felis mi, ac convallis neque. Aliquam in velit ac risus pellentesque malesuada id non quam. Cras ut sapien dolor. Aenean at lobortis metus. Proin quis augue feugiat nunc porttitor consequat. Ut eu leo enim, sed luctus magna. Nulla purus nibh, lacinia a placerat non, iaculis porta mi.
        </p>
        <p>
            Morbi bibendum elementum justo, ut consectetur ligula euismod vel. Maecenas et neque lacus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis porta varius magna at tempus. Vivamus pretium auctor risus suscipit mollis. Suspendisse diam orci, tempus quis vehicula sed, pellentesque eu mauris. Curabitur quis mi in neque dictum laoreet non nec velit. Duis at luctus massa. Aenean a risus nisi, nec fringilla quam. Donec vitae massa sed ligula commodo laoreet.
        </p>
        <p>
            Cras tortor orci, tempus sed porttitor id, aliquet nec mi. Proin nec viverra mi. Curabitur eu tortor felis, at suscipit mauris. Nam lobortis mi interdum nulla adipiscing vel mollis est bibendum. Maecenas hendrerit eleifend metus in vehicula. Sed porta nulla quis dolor eleifend semper. Suspendisse orci mauris, ullamcorper sit amet dignissim ac, congue at orci. Duis dui ipsum, dapibus in faucibus non, auctor at tellus.
        </p>
        <p>
            In interdum quam non urna aliquet lacinia. Cras id massa dolor, nec rhoncus lorem. Quisque vestibulum turpis et metus tincidunt dictum. Nam ante elit, hendrerit vitae luctus nec, commodo sagittis elit. Donec condimentum sagittis enim, pretium facilisis libero rutrum eget. Nullam pellentesque sem sit amet tortor aliquam pellentesque. Maecenas quis justo sit amet felis dapibus facilisis at ac est. Duis quis leo sapien, accumsan interdum ligula. Nunc lectus nibh, dapibus quis commodo sed, elementum ac magna. Integer ut nulla eros. Nulla adipiscing rutrum nisi a rhoncus. Vivamus vel lectus lectus. Aliquam eget libero turpis, in imperdiet tellus. Aliquam enim odio, lacinia et tristique quis, tincidunt pellentesque eros. Maecenas condimentum, nulla ac fermentum rutrum, metus justo vestibulum ligula, tristique consectetur metus justo in diam. Mauris a diam mauris.
        </p>
        <p>
            Pellentesque quis sem at sapien vulputate consequat. Nullam dapibus mollis pellentesque. Cras sit amet eros vitae nisi vehicula vestibulum. Duis nec mattis nibh. Pellentesque ornare tincidunt lorem vitae vehicula. Morbi pulvinar libero eget sem tincidunt cursus. Cras convallis tincidunt nibh, ac bibendum quam pretium vulputate. Duis gravida enim ac lectus mattis a lobortis nunc consectetur. Nunc dictum tempus convallis. Duis ut quam sit amet turpis bibendum sodales vitae eget nisl. Aliquam ut lorem sit amet neque porta fermentum. Quisque eu justo lorem, eget dignissim nisi. Donec tincidunt ultricies nisl, eget ultrices massa ullamcorper lobortis. Nunc dignissim enim ut turpis malesuada ac varius libero tristique. Nam non tincidunt nulla.
        </p>
        <p>
            Donec iaculis blandit facilisis. Praesent eu mi convallis libero blandit luctus et quis felis. Sed rutrum, massa nec bibendum placerat, lacus nisl euismod eros, vel cursus turpis odio ac eros. Curabitur viverra fermentum sapien at fringilla. Praesent in est magna. Mauris suscipit, orci dignissim feugiat pretium, dolor arcu sollicitudin libero, non bibendum dui lacus non odio. Fusce sodales nisi at lorem rhoncus tincidunt. Ut laoreet, diam id ultricies semper, lectus libero luctus mi, at bibendum lectus metus in est. Curabitur commodo semper magna mollis congue. Nam vitae metus augue.
        </p>
        <p>
            Duis tincidunt, nulla et bibendum mattis, quam mauris congue ligula, sit amet ultricies est diam vitae magna. In posuere, metus eu volutpat auctor, lorem leo euismod justo, sit amet hendrerit tellus quam blandit est. Nulla mi sem, consectetur id vulputate vel, rhoncus nec sem. Duis a velit ligula, sed semper felis. Nulla consectetur massa quis nisl ullamcorper non lacinia magna mattis. Integer et dui elit, vitae luctus ligula. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus volutpat, dolor et blandit euismod, tortor turpis rhoncus nisl, a bibendum quam mi id nisl. Praesent in leo diam. Duis lobortis mollis viverra. Curabitur nec nunc quis dolor vestibulum bibendum. Nam imperdiet, nibh non interdum vulputate, diam neque aliquet felis, vel tempus nisi justo ut erat. Nulla facilisi. Duis elementum, purus non volutpat mattis, velit ligula aliquam orci, suscipit elementum diam est at ipsum. Curabitur tempor ullamcorper ornare. Fusce dapibus, velit sit amet suscipit tincidunt, arcu quam tincidunt ipsum, sit amet cursus risus eros a orci.
        </p>
        <p>
            In sodales ipsum nec enim ullamcorper ullamcorper. Vestibulum a mauris ultrices odio vestibulum ornare. Maecenas ut nibh neque, sit amet semper odio. Ut tincidunt odio tempus eros dapibus scelerisque. Suspendisse potenti. Integer commodo ultricies aliquam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam risus felis, commodo a malesuada in, sagittis quis lectus.
        </p>
        <p>
            Morbi a mauris nunc, egestas porta risus. Donec at velit sollicitudin elit interdum hendrerit a id arcu. Integer tempus, massa vitae imperdiet pellentesque, felis dolor tincidunt erat, ut rutrum elit arcu at dolor. Aliquam id nisl eget mauris adipiscing gravida. Nunc in volutpat arcu. Aliquam quis ipsum ipsum. Fusce et varius mi. Etiam eu libero ut leo auctor mollis id eu enim. Cras vel metus sem, in consectetur lorem. Ut lacus orci, rutrum at tristique malesuada, feugiat id sem. Curabitur sollicitudin neque non mauris elementum at pharetra nibh imperdiet. Quisque enim nulla, rutrum eget dignissim eu, porttitor ac ipsum. Cras auctor scelerisque augue id vehicula. Nam at justo risus, et lobortis leo. Nunc sit amet nibh non mauris lacinia tempus. Nunc at velit enim.
        </p>
        <p>
            Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Proin commodo dignissim turpis, a egestas elit commodo et. Aenean feugiat interdum nunc eget mollis. Vestibulum semper mattis nisi vitae tempus. Integer eros quam, hendrerit id viverra vitae, lobortis varius purus. Curabitur sit amet ipsum sit amet tellus venenatis accumsan et in urna. Nullam vestibulum faucibus erat vel eleifend.
        </p>
        <p>
            Praesent erat orci, fringilla nec fringilla ut, aliquam eget mauris. Nullam in arcu libero, dignissim elementum sapien. Donec ac cursus eros. Cras tempus, tortor vitae dapibus tincidunt, lorem mi placerat odio, vitae tempor dui felis eget mauris. Duis nec fringilla mi. Vestibulum ut mauris at dolor mollis semper. Nulla ullamcorper cursus vulputate. Morbi magna nunc, egestas nec scelerisque vel, lacinia vel dolor. Maecenas pretium pellentesque sem in facilisis. Nulla facilisi. Suspendisse iaculis risus eros, et iaculis dolor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ullamcorper, sapien a aliquet vehicula, elit nisl ornare dolor, adipiscing accumsan nulla erat a lectus. Vivamus eu tellus nibh, ut cursus turpis. Proin lacinia dictum hendrerit. Sed adipiscing, lectus sit amet vulputate malesuada, purus arcu posuere tortor, non ullamcorper risus augue ac erat.
        </p>
        <p>
            Donec vitae enim nibh. Duis pellentesque arcu in ante semper tincidunt. Donec convallis, quam ut consequat dictum, diam arcu dignissim lectus, in eleifend nisl purus at purus. Donec justo dui, convallis sed adipiscing in, aliquam at leo. Quisque porta vulputate felis, vitae consectetur leo volutpat sit amet. Nam facilisis gravida tincidunt. Maecenas bibendum velit sed lectus volutpat pretium. In vel libero fringilla mi consectetur pellentesque quis ac erat. Nam pharetra convallis luctus. Mauris tellus magna, rhoncus ac aliquam sit amet, posuere eu libero. Nulla pellentesque egestas condimentum. Morbi sed orci risus, nec tristique sem. Donec id mi in sem ullamcorper dignissim.
        </p>
        <p>
            Morbi et velit vel erat feugiat luctus. Maecenas luctus fermentum elementum. Phasellus vel semper purus. Donec pellentesque, turpis a elementum elementum, libero sapien sollicitudin sapien, id malesuada erat dui ut est. Donec non lorem lorem. In tincidunt neque in ante bibendum pellentesque. Sed eu libero at enim lacinia sollicitudin. Nunc nec neque tortor. Vivamus pretium mi nec orci volutpat cursus ut ac metus. Quisque ac orci ac ligula luctus imperdiet. Phasellus viverra nibh in mi dignissim sit amet fringilla mauris hendrerit. Duis rutrum, sapien id sodales dapibus, nulla nisi mattis neque, ut volutpat felis massa pharetra mi. Morbi sagittis, tortor quis egestas tempus, urna ante tempor lorem, at volutpat nisi tellus quis urna.
        </p>
        <p>
            Mauris sit amet justo ipsum, ac faucibus risus. Fusce a felis ligula, at vestibulum dui. Pellentesque porta pharetra porta. Nunc fermentum eros ut tellus porttitor pulvinar. Mauris elementum, tellus sit amet vulputate scelerisque, lacus massa rutrum lectus, vitae laoreet velit sapien nec arcu. Integer enim justo, bibendum sed bibendum a, tristique et diam. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce et lacus in massa consectetur malesuada. Curabitur auctor luctus malesuada.
        </p>
        <p>
            Sed porta varius massa, a elementum nunc euismod et. Fusce sed mattis est. Maecenas nec mauris vitae risus dictum lacinia. Suspendisse non tellus erat, quis feugiat ipsum. Nunc faucibus luctus dolor, mattis scelerisque elit accumsan a. Integer ut enim non massa hendrerit molestie. Sed id convallis tellus. Etiam suscipit posuere malesuada. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur sed lobortis odio. In hac habitasse platea dictumst. Aenean sodales est lacinia urna congue congue. Integer tincidunt augue ut dolor elementum ultrices. In aliquet, odio nec fermentum iaculis, risus sem consectetur tortor, eu sagittis quam mauris quis arcu.
        </p>
        <p>
            Maecenas ornare nisl vel sapien adipiscing consequat. Nam vitae nisi vitae lacus luctus placerat eget in dui. Curabitur in purus nisl. Proin rutrum condimentum urna a ornare. Nullam tempus, nunc nec tempor sollicitudin, erat diam scelerisque nibh, et venenatis nulla lacus in dolor. Curabitur sed arcu augue. Mauris eu nulla lorem. Sed sit amet quam risus, sed elementum nulla. Cras sagittis, quam sit amet.
        </p>
    </ui:define>


</ui:composition>
