<ui:composition template="template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">
    <ui:define name="Title">#{msg['Astonlogin.page']}</ui:define>
    <ui:define name="SideBar" />
    <ui:define name="Body"> 
        <h1>
            <h:outputText id="welcomePageTitle" value="#{msg['Astonlogin.welcome']}"/>
        </h1>
        <h:messages class="text-error" globalOnly="true" layout="list" errorClass="text-error" />
        <h:form id="loginForm">
            <h:panelGrid columns="3">
                <h:outputLabel id="loginLabel" value="#{msg['Astonlogin.login']}" />
                <h:inputText id="loginInputText" 
                             value="#{loginAstonBean.login}"
                             required="true"
                             requiredMessage=" #{msg['Astonlogin.requiredlogin']}" />
                <h:message for="loginForm:loginInputText" errorClass="text-error"/>
                <h:outputLabel id="passwordLabel" value="#{msg['Astonlogin.password']}"/>
                <h:inputSecret id="passwordInputText" 
                               value="#{loginAstonBean.password}"
                               required="true"
                               requiredMessage=" #{msg['Astonlogin.requiredpassword']}"/>
                <h:message for="loginForm:passwordInputText" errorClass="text-error"/>
                <h:commandButton id="validerButton" class="btn" value="#{msg['Astonlogin.valider']}" action="#{loginAstonBean.authenticate}"/>
                <h:commandButton id="ResetButton" class="btn" value="#{msg['Astonlogin.Reset']}" action="#{loginAstonBean.authenticate}"/>
            </h:panelGrid>
        </h:form>
    </ui:define>
</ui:composition>




