<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <head>
        <f:loadBundle basename="messages.Messages" var="msg" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <style type="text/css" title="currentStyle" media="screen">
            @import url('${facesContext.externalContext.requestContextPath}/themes/bootstrap/css/bootstrap.min.css')
        </style>
        <style type="text/css">
            body {
                padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
                padding-bottom: 60px;
            }
        </style>
        <title><ui:insert name="Title">#{msg['Astontemplate.title']}</ui:insert></title>  
    </head> 
    <body>
        <div id="HeaderTemplate" class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <div class="brand"><h:outputText value="#{msg['Astontemplate.hello']}" /></div>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li class="active"><h:form><h:commandLink class="btn btn-primary" action="Accueil">#{msg['Astontemplate.backHome']}</h:commandLink></h:form></li>
                            <ui:fragment rendered="#{!empty loginAstonBean.currentUserPersonne}">
                                <li class="active" style="margin: 10px"><h:outputText value="#{msg['Astontemplate.helloLogged']}" /> #{loginAstonBean.currentUserPersonne.prenom}</li>
                                <li class="active"><h:form styleClass=".form-search"><h:commandLink id="disconnectLink" class="btn btn-primary" value="#{msg['Astontemplate.disconnect']}" action="#{loginAstonBean.disconnect}"/></h:form></li>
                            </ui:fragment>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="container">
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="span2 bs-docs-sidebar">
                        <ul class="nav nav-list bs-docs-sidenav affix">
                            <ui:insert name="SideBar">
                                Default SideBar
                                <!-- Ne pas oubliez les tags LI -->
                            </ui:insert>
                        </ul>
                    </div>
                    <div class="span10">
                        <ui:insert name="Body">
                            Default body
                        </ui:insert>
                    </div>
                </div>
                <ui:insert name="Footer">
                    <div id="FooterTemplate" class="navbar navbar-inverse navbar-fixed-bottom">
                        <div class="navbar-inner">
                            <div class="container-fluid">
                                <div class="nav-collapse collapse">
                                    <span class="active"><h:form><h:commandLink id="LinkToSQLI" action="#">#{msg['Astontemplate.copyright']}</h:commandLink></h:form></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </ui:insert>
            </div>
        </div>
    </body>

</html>

